/* 1. REINICIO DE ESTILOS (RESET) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 2. ESTILOS GENERALES (GLOBAL) */
body {
    background-image: url('../img/fondo.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Barlow', sans-serif;
    line-height: 1.6;
    color: #333232;
}
h1, h2, h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    color: #181818;
}
/* 3. CONTENEDOR PRINCIPAL (Bloque con ancho máximo) */
.container {
    max-width: 1200px;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(red, green, blue, alpha);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
/* 4. CONTENIDO (Inicio y elementos) */
h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
p {
    margin-bottom: 1.2rem;
    font-size: 1.125rem;
    color: #555555;
}
.artistas {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.artista {
    display: block;
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 1.5rem 0;
    border-radius: 8px;
}
article ul {
    margin: 1em; 0 1.5rem 2rem;}
article li {
    margin-bottom: 0.5rem;
}
/* 5. PIE DE PÁGINA (Footer) */
footer {
    text-align: center;
    padding: 2rem 0 0 0 ;
    margin-top: 3rem;
    border-top: 1px solid #dad2d2;
    font-size: 0.9rem;
color: rgb(72, 67, 60);
}


    
    
   
   
